<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liqinxu.crm.mapper.DicitionaryMapper">
  <resultMap id="BaseResultMap" type="com.liqinxu.crm.domain.Dicitionary">
    <id column="id" property="id" />
    <result column="sn" property="sn" />
    <result column="name" property="name" />
    <result column="intro" property="intro" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from dicitionary
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into dicitionary (sn, name, intro)
    values (#{sn}, #{name}, #{intro})
  </insert>
  <update id="updateByPrimaryKey">
    update dicitionary
    set sn = #{sn},
      name = #{name},
      intro = #{intro}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, sn, name, intro
    from dicitionary
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sn, name, intro
    from dicitionary
  </select>
</mapper>